{% extends "layout.html" %}

{% block title %}Prediger{% endblock %}

{% block content %}
  
    <h1 class="page-header">Prediger</h1>

    <div class="row searchbox">
        <div class="col-md-6">
            <form>
                <input type="text" class="form-control input-lg" placeholder="Suche...">
            </form>
        </div>
        <div class="col-md-6">
            <a href="{{ url_for('speaker_add') }}" class="btn btn-lg btn-primary">Hinzufügen</a>
        </div>
    </div>

    <div class="row speakers">
        {% for speaker in speakers %}
        <div class="col-xs-6 col-sm-3 speaker">
            <a  href="{{ url_for('speaker_edit', speaker_id=speaker.id) }}">
                <img width="200" height="200" class="img-responsive" alt="{{ speaker.image.name }}"
                        src="{{ url_for('get_file', file_id=speaker.image.id, file_name=speaker.image.name) }}" />
                <h4>{{ speaker.firstname}} {{speaker.lastname }}</h4>
                <span class="text-muted">{{ speaker.position }}</span>
            </a>
        </div>
        {% endfor %}
    </div>

{% endblock %}