{% extends "layout.html" %}

{% block title %}Predigten{% endblock %}

{% block content %}
  
    <h1 class="page-header">Predigten</h1>

    <div class="row searchbox">
        <div class="col-md-6">
            <form>
                <input type="text" class="form-control" placeholder="Suche...">
            </form>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Titel</th>
                <th>Prediger</th>
                <th>Serie</th>
                <th>Öffentlich</th>
            </tr>
        </thead>
        <tbody>
            {% for sermon in sermons %}
            <tr>
                <td>{{ sermon.date | date }}</td>
                <td><a href="{{ url_for('sermon_edit', sermon_id=sermon.id) }}">{{sermon.title}}</a></td>
                <td>
                    {% if sermon.speaker %}
                    {{ sermon.speaker.lastname }}, {{ sermon.speaker.firstname }}
                    {% endif %}
                </td>
                <td>
                    {% if sermon.series %}
                    {{ sermon.series.title }}
                    {% endif %}
                </td>
                <td>
                    {% if sermon.is_public() %}
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('sermon_add') }}" class="btn btn-primary">Hinzufügen</a>

{% endblock %}