{% extends "layout.html" %}

{% block title %}Prediger{% endblock %}

{% block content %}
  
    <h1 class="page-header">Prediger</h1>

    <div class="row searchbox">
        <div class="col-md-6">
            <form>
                <input type="text" class="form-control input-lg" placeholder="Suche...">
            </form>
        </div>
        <div class="col-md-6">
            <a href="{{ url_for('speaker_add') }}" class="btn btn-lg btn-primary">Hinzufügen</a>
        </div>
    </div>

    <div class="row speakers">
        <div class="col-xs-6 col-sm-3 speaker">
            <a  href="{{ url_for('speaker_edit') }}">
                <img src="https://images.unsplash.com/photo-1443381301867-5a36ffaafc42?dpr=1&auto=compress,format&fit=crop&w=376&h=251&q=80&cs=tinysrgb&crop=" width="200" height="200" class="img-responsive" alt="">
                <h4>Ignaz Huber</h4>
                <span class="text-muted">Co-Pastor</span>
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 speaker">
            <a  href="{{ url_for('speaker_edit') }}">
                <img src="https://images.unsplash.com/photo-1489548277531-6e7426ce3c74?dpr=1&auto=compress,format&fit=crop&w=376&h=251&q=80&cs=tinysrgb&crop=" width="200" height="200" class="img-responsive" alt="">
                <h4>Mark Soboda</h4>
                <span class="text-muted">Pastor und Jugendpastor</span>
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 speaker">
            <a  href="{{ url_for('speaker_edit') }}">
                <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?dpr=1&auto=compress,format&fit=crop&w=376&h=251&q=80&cs=tinysrgb&crop=" width="200" height="200" class="img-responsive" alt="">
                <h4>Bernd Stevia</h4>
                <span class="text-muted">Pastor</span>
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 speaker">
            <a  href="{{ url_for('speaker_edit') }}">
                <img src="https://images.unsplash.com/photo-1480700046546-dfee380a7bd8?dpr=1&auto=compress,format&fit=crop&w=376&h=251&q=80&cs=tinysrgb&crop=" width="200" height="200" class="img-responsive" alt="">
                <h4>Markus Schaffelwahn</h4>
            </a>
        </div>
    </div>

{% endblock %}