{% extends "layout.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
  
    <h1 class="page-header">{{ page_title }}</h1>

    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Titel</label>
            <input type="text" class="form-control" id="title">
        </div>
        <div class="form-group">
            <label for="date">Datum</label>
            <input id="date" type="date" style="width: 100%">
        </div>
        <div class="form-group">
            <label for="speaker">Prediger</label>
            <select id="speaker" placeholder="Prediger suchen..." style="width: 100%;">
              <option></option>
              {% for speaker in speakers %}
                <option value="{{ speaker.id }}">{{ speaker.lastname }}, {{ speaker.firstname }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="series">Serie</label>
            <select id="series" placeholder="Serie suchen..." style="width: 100%;">
              <option></option>
              {% for option in series %}
                <option value="{{ option.id }}">{{ option.title }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="category">Kategorie</label>
            <select id="category" placeholder="Kategorie suchen..." style="width: 100%;">
              <option></option>
              {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="verse">Bibelstellen</label>
            <textarea class="form-control" id="verse" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="audio">Audio</label>
            <input type="file" id="audio">
        </div>
        <div class="form-group">
            <label for="video_provider">Video - Typ</label>
            <select id="video_provider" class="form-control">
                {% for option in video_providers %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="embedid">Video - Embed Id</label>
            <input id="embedid" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="datestart">Veröffentlichen ab</label>
            <input id="datestart" type="date" style="width: 100%">
            <p class="help-block">Leer lassen, wenn die Predigt ab sofort veröffentlicht werden soll.</p>
        </div>
        <div class="form-group">
            <label for="dateend">Veröffentlichen bis</label>
            <input id="dateend" type="date" style="width: 100%">
            <p class="help-block">Kein Datum eingeben, wenn die Predigt für unbegrenzte Zeit veröffentlicht werden soll.</p>
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Verbergen</label>
        </div>
        <br />
        <button type="submit" class="btn btn-lg btn-success">Speichern</button>
        <a href="{{ url_for('sermon_index') }}" class="btn btn-danger">Abbrechen</a>
        <a href="{{ url_for('sermon_index') }}" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Löschen
        </a>
    </form>

{% endblock %}

{% block scripts %}
    <script>
        $("#speaker").kendoComboBox({
            animation: false,
            filter: "contains"
        });
        $("#series").kendoComboBox({
            animation: false,
            filter: "contains"
        });
        $("#category").kendoComboBox({
            animation: false,
            filter: "contains"
        });

        $("input[type=date]").kendoDatePicker();

        //Open on focus logic
        $(function() {
            $("[data-role=combobox]").each(function() {
            var widget = $(this).getKendoComboBox();
            widget.input.on("focus", function() {
                    widget.open();
            });
            });
        });
    </script>
{% endblock %} 