{% extends "layout.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
  
    <h1 class="page-header">{{ page_title }}</h1>

    <form method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="firstname">Vorname</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" value="{{ model.firstname }}">
                </div>
                <div class="form-group">
                    <label for="lastname">Nachname</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" value="{{ model.lastname }}">
                </div>
                <div class="form-group">
                    <label for="position">Job</label>
                    <input type="text" class="form-control" id="position" name="position" value="{{ model.position }}">
                </div>
                <div class="form-group">
                    <label for="description">Beschreibung</label>
                    <textarea class="form-control" rows="8" id="description" name="description">{{ model.description }}</textarea>
                </div>
                <div class="form-group">
                    <label for="image">Bild</label>
                    <input type="file" name="image" name="image" accept="image/*">
                </div>
                <br />
                <button type="submit" class="btn btn-lg btn-success">Speichern</button>
                <a href="{{ url_for('speaker_index') }}" class="btn btn-danger">Abbrechen</a>
                {% if model %}
                <a href="{{ url_for('speaker_delete', speaker_id=model.id) }}" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Löschen
                </a>
                {% endif %}
            </div>
            <div class="col-md-offset-1 col-md-5">
                {% if model.image %}
                <img width="200" height="200" class="img-thumbnail" alt="{{ model.image.name }}"
                        src="{{ url_for('get_file', file_id=model.image.id, file_name=model.image.name) }}" />
                {% endif %}
            </div>
        </div>
    </form>


{% endblock %}