{% extends "layout.html" %}

{% block title %}Serien{% endblock %}

{% block content %}
  
    <h1 class="page-header">Serien</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Vorschaubild</th>
                <th>Erstellt am</th>
            </tr>
        </thead>
        <tbody>
            {% for item in series %}
            <tr>
                <td><a href="{{ url_for('series_edit', series_id=item.id) }}">{{ item.title }}</a></td>
                <td>
                    {% if item.file %}
                    <img width="100" height="100"
                        src="{{ url_for('get_file', file_id=item.file.id, file_name=item.file.name) }}" />
                    {% endif %}
                </td>
                <td>{{ item.created_at | datetime }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('series_add') }}" class="btn btn-primary">Hinzufügen</a>

{% endblock %}